{% load staticfiles %}
<!-- CSS declaration django static incusion -->
<!-- Bootstrap Core CSS -->
<link href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="{% static 'dist/metisMenu/css/metisMenu.min.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static 'dist/custom/css/sb-admin-2.css'%}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static 'dist/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
